<nav class="main-header navbar navbar-expand bg-aqua navbar-light border-bottom">
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item" *ngIf="loggedIn">
      <a class="nav-link" data-widget="pushmenu" ><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="/" class="nav-link" *ngIf="loggedIn">Dashboard</a>
    </li>
  </ul>

  <!-- Right navbar links -->
  <ul class="navbar-nav ml-auto">

    <!-- User Account: style can be found in dropdown.less -->
    <li class="dropdown user user-menu user-image">
      <a routerLink="login" class="nav-link" *ngIf="!loggedIn">Login</a>
    </li>
    <li class="dropdown user user-menu user-image">
      <a routerLink="signup" class="nav-link" *ngIf="!loggedIn">Signup</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="resource" class="nav-link" *ngIf="loggedIn">Resources</a>
    </li>
    <li class="dropdown user user-menu user-image">
      <a routerLink="signup" class="nav-link" (click)="logout($event)" *ngIf="loggedIn">LogOut</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a routerLink="profile" class="nav-link" *ngIf="loggedIn">Profile</a>
    </li>
  </ul>
</nav>