<app-left-menu></app-left-menu>
<div style="left: 150px;position: relative;">
    <table width="683" border='2'>
        <tbody>
            <tr>
                <td width="137">&nbsp;</td>
                <td width="265">
                    <p><strong>STAGE</strong></p>
                </td>
                <td width="280">&nbsp;</td>
            </tr>
            <tr>
                <td width="137">
                    <p>Stages in Sales</p>
                </td>
                <td width="265">
                    <p>Explanation of Stages</p>
                </td>
                <td width="280">
                    <p>Case scenarios</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Prospecting</p>
                </td>
                <td width="265">
                    <p>Opportunities in the prospecting stage represent your long term pipeline. No budget or timescale
                        has been identified. This stage is when the closed date is uncertain or either no solid
                        opportunity could be driven out from first conversation to any stage. However, there is a
                        possibility that some of these opportunities will mature into viable and important pipeline
                        deals.</p>
                </td>
                <td width="280">
                    <p>Client wants to think about it and get back/ Client isn&rsquo;t giving any clear picture on
                        meetings/ Client didn&rsquo;t respond to any introductory mail / Clients details are just tapped
                        and we need to still get in touch with him</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Qualifying</p>
                </td>
                <td width="265">
                    <p>This stage determines if there is a NEED or there&nbsp; could be a NEED. This stage determines
                        whether the customer sees some interest and is looking forward to talk more on the product or
                        enquire on the same. Also, are we a good fit among potential other suppliers for the client</p>
                </td>
                <td width="280">
                    <p>Customer is using jars / customer is unhappy with the current vendor etc.</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Need Analysis</p>
                </td>
                <td width="265">
                    <p>This stage is when we do an analysis on kind of solution client is looking for. This stage can be
                        defined in a nutshell by taking the details over the phone via workbook or going for Site survey
                    </p>
                </td>
                <td width="280">
                    <p>Site survey/ Workbook filling/ seeking the clients site details</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Value Proposition</p>
                </td>
                <td width="265">
                    <p>This stage is when the client asks us for cost analysis / proposal submission etc.</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Evaluating</p>
                </td>
                <td width="265">
                    <p>This stage is when the client is making a decision to come back post submitting the proposal.
                        Product Demo can also fall under Evaluating</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Negotiating</p>
                </td>
                <td width="265">
                    <p>This stage includes agreeing on commercial terms</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>Closure</p>
                </td>
                <td width="265">
                    <p>The customer made a commitment to go ahead.</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
<div style="left: 150px;position: relative;">
    <table width="683" border="2">
        <tbody>
            <tr>
                <td width="137">&nbsp;</td>
                <td width="265">
                    <p><strong>STATUS</strong></p>
                </td>
                <td width="280">&nbsp;</td>
            </tr>
            <tr>
                <td rowspan="4" width="137">
                    <p>COLD</p>
                </td>
                <td width="265">
                    <p>Prospecting</p>
                </td>
                <td rowspan="4" width="280">
                    <p>These all stages shall fall under COLD STATUS</p>
                </td>
            </tr>
            <tr>
                <td width="265">
                    <p>Qualifying</p>
                </td>
            </tr>
            <tr>
                <td width="265">
                    <p>Need Analysis</p>
                </td>
            </tr>
            <tr>
                <td width="265">
                    <p>Value Proposition</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>&nbsp;</p>
                </td>
                <td width="265">
                    <p>&nbsp;</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>&nbsp;</p>
                </td>
                <td width="265">
                    <p>&nbsp;</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td rowspan="2" width="137">
                    <p>WARM</p>
                </td>
                <td width="265">
                    <p>Evaluating</p>
                </td>
                <td rowspan="2" width="280">
                    <p>These stages shall fall under WARM STATUS</p>
                </td>
            </tr>
            <tr>
                <td width="265">
                    <p>Negotiating</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>&nbsp;</p>
                </td>
                <td width="265">
                    <p>&nbsp;</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>HOT</p>
                </td>
                <td width="265">
                    <p>The stage between Negotiaiting and Closure is HOT. However, in certain cases it may vary if the
                        cleint is not taking too long and gives a green signal to take the product</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>&nbsp;</p>
                </td>
                <td width="265">
                    <p>&nbsp;</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
            <tr>
                <td width="137">
                    <p>DEAD</p>
                </td>
                <td width="265">
                    <p>Any account where the contact mentions that he is not looking to change anything in next 3 years
                        etc/Client asks us to subscribe himself ias DO NOT CALL or asks us to not send any communication
                        as he is not interested at all.</p>
                </td>
                <td width="280">
                    <p>&nbsp;</p>
                </td>
            </tr>
        </tbody>
    </table>
    <p>&nbsp;</p>
</div>