<div class="container-fluid">
  <div class="row login d-flex align-items-center">
    <div class="container">
      <form #signupform="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 ">
          </div>
          <div class="col-xl-4 col-lg-4 col-md-8 col-sm-12 mt-5 log">
            <img src="assets/images/quickway_user.png" class="img-fluid d-block m-auto">
            <div class="clearfix"></div>
            <div class="he_ad">
              <div class="col-xl-12">
                <div class="borr">
                  <h1 class="text-center">Sign Up</h1>
                </div>
                <small class="d-block text-center">Create your account</small>
                <div class="clearfix"></div>
                <div class="pt-4">
                    <div class="alert alert-danger" [hidden]="!error">
                        {{error}}
                      </div>
                  <div class="form-group">
                      
                    <label>Name</label>
                    <input type="text" required class="form-control ad" [(ngModel)]="form.name" name="name" placeholder="Enter Your Name">
                    <div class="alert alert-danger" [hidden]="!error.name">
                        {{error?.name}}
                      </div>
                  </div>
                  <div class="form-group">
                      
                    <label>Email</label>
                    <input type="email" required class="form-control ad" [(ngModel)]="form.email" email="true" name="email" placeholder="Enter Your Email">
                    <div class="alert alert-danger" [hidden]="!error.email">
                        {{error?.email}}
                      </div>
                  </div>
                  <div class="form-group">
                      
                    <label>Password</label>
                    <input type="password" required class="form-control pas" [(ngModel)]="form.password" name="password" placeholder="Password Here">
                    <div class="alert alert-danger" [hidden]="!error.password">
                        {{error?.password}}
                      </div>
                  </div>
                  <div class="form-group">
                      
                    <label>Confirm Password</label>
                    <input type="password" required class="form-control pas" [(ngModel)]="form.c_password" name="c_password" placeholder="Confirm Password Here">
                    <div class="alert alert-danger" [hidden]="!error.c_password">
                        {{error?.c_password}}
                      </div>
                  </div>
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary" [disabled]="!signupform.valid" value="Sign Up">
                  </div>
                  <div class="clearfix"></div>
                  <div class="login text-center">
                    <h5>Have a account ?</h5>
                    <a routerLink="/" class="for_pas btn btn-primary pull-right" >Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>