<div class="jumbotron" style="left: 135px;position: relative;">

  <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
  <ng-template #welcomeUser>
    <div class="col-md-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h3 class="card-title">Inbox</h3>
          <!-- /.card-tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="mailbox-controls">
            <!-- /.float-right -->
          </div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-sm row-border hover">
              <tbody *ngIf="user?.value">
              <tr *ngFor="let mails of user?.value">
                <td class="mailbox-star"><i class="fa fa-star text-warning"></i></td>
                <td class="mailbox-name"><a routerLink="/mail/view/{{mails.id}}">{{mails.from.emailAddress.name}}</a></td>
                <td class="mailbox-subject">{{mails.subject}}</td>
                <td class="mailbox-date">{{mails.receivedDateTime | date: 'M/d/yy, h:mm a'}}</td>
              </tr>
              </tbody>
            </table>
            <!-- /.table -->
          </div>
          <!-- /.mail-box-messages -->
        </div>
        <!-- /.card-body -->
        
      </div>
      <!-- /. box -->
    </div>
  </ng-template>
  <ng-template #signInPrompt>
    <h1>Login with outlook</h1>
    <p class="lead">You need to login with outlook to acces this feature</p>
    <a href="javascript:undefined" class="btn btn-primary btn-large" role="button" (click)="signIn()">Connect to Outlook</a>
  </ng-template>
</div>
<app-left-menu></app-left-menu>