<div class="continer">
    <div class="container-fluid">
      <div class="row login d-flex align-items-center">
        <div class="container">
          <form #changePassword="ngForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-2 col-lg-2 col-md-8 col-sm-12">
              </div>
              <div class="col-xl-10 col-lg-10 col-md-8 col-sm-12 mt-5 log gb">
                <div class="he_ad">
                  <div class="col-xl-12">
                    <div class="borr">
                      <h1 class="text-center">Change Password</h1>
                    </div>
                    <div class="clearfix"></div>
                    <div class="pt-4">
  
                      <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control ad" [(ngModel)]="form.old_password" name="old_password" placeholder="Enter Your Old password">
                      </div>
                      <div class="form-group">
                          <label>New Password</label>
                          <input type="password" class="form-control ad" [(ngModel)]="form.new_password" name="new_password" placeholder="Enter Your New password">
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" class="form-control ad" [(ngModel)]="form.confirm_password" name="confirm_password" placeholder="Enter Your Confirm password">
                          </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-primary m-auto" [disabled]="!changePassword.valid">Update Password</button>                        
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <app-left-menu></app-left-menu>
      <app-footer></app-footer>
      <notifier-container></notifier-container>