<div class="col-md-12" style="left: 135px;position: relative;">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Read Mail</h3>
        
      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="mailbox-read-info">
          <h5>{{data.subject}}</h5>
          <h6>From: {{data.from.emailAddress.address}}
            <span class="mailbox-read-time float-right">{{data.receivedDateTime | date: 'M/d/yy, h:mm a'}}</span></h6>
        </div>
       
        <!-- /.mailbox-controls -->
        <div class="mailbox-read-message" [innerHTML]="maildes">          
        </div>
        <!-- /.mailbox-read-message -->
      </div>     
     
      <!-- /.card-footer -->
    </div>
    <!-- /. box -->
  </div>
  <app-left-menu></app-left-menu>
