<app-left-menu></app-left-menu>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Leads</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Leads List</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Leads Data Listing</h3>
          </div>
          <!-- /.card-header -->
        <div class="table-responsive" *ngIf="tData">
            <table class="table table-striped table-bordered table-sm row-border hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>Designation</th>
                  <th>Interseted In</th>
                  <th>Location</th>
                  <th>Date</th>
                  <th>Source</th>
                  <th>Remark</th>
                  <th>Status</th>
                  <th>Email Sent</th>
                  <th>Email Response</th>
                  <th>Action</th>                  
                </tr>
              </thead>
              <tbody *ngIf="data?.length > 0">
                <tr *ngFor="let lead of data">
                  <td>{{lead.person_name}}</td>
                  <td>{{lead.person_company}}</td>
                  <td>{{lead.person_email}}</td>
                  <td>{{lead.person_phone}}</td>
                  <td>{{lead.person_designation}}</td>
                  <td>{{lead.interseted_product}}</td>
                  <td>{{lead.person_location}}</td>
                  <td>{{lead.contacted_date}}</td>
                  <td>{{lead.contact_source}}</td>
                  <td>{{lead.remark}}</td>
                  <td *ngIf="lead.status == 3">Cold Lead</td>
                  <td>{{lead.email_sent}}</td>
                  <td>{{lead.email_response}}</td>       
                  <td><a routerLink="edit/{{lead._id}}"><i class="fa fa-eye"></i></a><i class="fa fa-trash" (click)="delete(lead._id)"></i></td>           
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
  <app-footer></app-footer>
</div>