/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~angular-notifier/styles.css';

.ng-touched.ng-invalid:not(form){
    border: 1px solid red;
}

.ng-valid:not(form){
    border: 1px solid green;
}

.content-wrapper{width: 98% !important; float: right !important; right: -118px !important; position: relative}

/* Style debug info in alerts */
.alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }